# /etc/systemd/system/dns-ipcheck.timer
# Modify the OnCalendar to reflect your schedule - default is every 15 minute

[Unit]
Description=DNS firewall servicer
Requires=dns-ipcheck.service

[Timer]
Unit=dns-ipcheck.service
OnCalendar=*-*-* *:*/15:00

AccuracySec=1

[Install]
WantedBy=timers.target
