# /etc/systemd/system/dns-ipcheck.timer
# Modify the OnCalendar to reflect your schedule - default is every 5 minute

[Unit]
Description=timer for firewall servicer
Requires=dns-ipcheck.service

[Timer]
Unit=dns-ipcheck.service
OnCalendar=*:0/5
FixedRandomDelay=30
AccuracySec=1

[Install]
WantedBy=timers.target
