# /etc/systemd/system/dns_ipcheck.service

[Unit]
Description=DNS firewall servicer
Wants=dns_ipcheck.timer

[Service]
Type=oneshot
ExecStart=/opt/cardano/cnode/scripts/dns_ipcheck.py

[Install]
WantedBy=multi-user.target
