# /etc/systemd/system/dns_ipcheck.timer
# Modify the OnCalendar to reflect your schedule - default is every 10 minute

[Unit]
Description=DNS firewall servicer
Requires=dns_ipcheck.service

[Timer]
Unit=dns_ipcheck.service
OnCalendar=*/10 * * * *

AccuracySec=1

[Install]
WantedBy=timers.target
